@import '../../helpers/vars.module.scss';

.navContainer{
    position: relative;
    display: flex;
   
}
.edit{
    position: absolute;
}
.navButton{
    margin-bottom: 10px;
}


@media screen and (max-width: 767px) {
    .navContainer{
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        width: 270px;
    }
    .navButton:nth-child(4){
        margin-left: 45px;
    }
    
}
@media screen and (min-width: 768px) {
    .navContainer{
        width: 500px;
        margin-top: 100px;
        margin-left: 120px;
    }
    
}
@media screen and (min-width: 1024px){
    .navContainer{
        width: 720px;
        margin-top: 140px;
    }
}
@media screen and (min-width: 1440px){
    .navContainer{
        width:  900px;
        margin-left: 60px;
    }
}