@import "../../main.module.scss";
.messageContainer{
    position: fixed;
    display: flex;
    width: 200px;
    height: 100px;
    flex-direction: column;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: $appBackground;
    border-radius: 30px;
    border: 5px solid $headerBackground;
    left: 50%;
    transform: translate( -50%);
    z-index: 3;
}
.login{
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.message{
    padding-left: 20px;
    color:$headerBackground
}
.close{
    background-color: $primary-color;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../../assets/icons/cancel.svg');
    background-position: center;
    background-repeat: no-repeat;
    &:hover,
    &:focus {
      cursor: pointer;
      transform: scale(1.1);
    }
}